<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EveryDay</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/FrontEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/style.css">
    <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/owl.css">
    <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/status.css">

  </head>
  <body>
     <!-- ***** Preloader Start ***** -->
     <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
     <!-- Header -->
     <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>every<em>day</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/products">Our Products</a>
              </li>
              <% if(loginstate == 0){ %> 
                <a class="nav-link" href="/login">Log In</a>
              <% } %>

              <% if(loginstate == 1){ %>
              <li class="nav-item sub-menus">
                <a class="nav-link"> <%= usernamedata.username %>  </a>
                <ul>
                    <li><a href="/profile"><i class="fa fa-edit"></i> Edit Profile</a></li>
                    <li><a href="/status"><i class="fa fa-clipboard"></i> Check status</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li>
                </ul>

              </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Status</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>
     <!-- Page Content -->
     <div class="page-heading order-detail-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Hang on a moment</h4>
              <h2>EveryDay Order Detail</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
      


                <!-- ตาราง -->
     <table class="center">
         <tr>
             <th>#</th>
             <th>ชื่อสินค้า</th>
             <th>รายละเอียดสินค้า</th>
             <th>ราคาสินค้า</th>
         </tr>
         <tr>
             <td><img src="/images/fd_images/product_01.jpg"></td>
             <td>Witchoar (วิชชอร์) เล่ม 1 : <br> หยดน้ำแห่งกัลดราบก</td>
             <td>เจย์ สก็อต ตื่นมาพร้อมกับความทรงจำที่ว่างเปล่า<br> เขาไม่รู้อะไรเลยเกี่ยวกับตัวเอง ทั้งเรื่องในอดีต<br>
                และสิ่งที่ต้องทำต่อไปในอนาคต โดยเฉพาะ<br>ทำไมเขาถึงมีพลังที่น่าจะเป็น ‘เวทมนตร์’...</td>
             <td>210.00</td>
         </tr>
         <tr>
            <td><img src="/images/fd_images/product_01.jpg"></td>
             <td>Witchoar (วิชชอร์) เล่ม 1 : <br> หยดน้ำแห่งกัลดราบก</td>
             <td>เจย์ สก็อต ตื่นมาพร้อมกับความทรงจำที่ว่างเปล่า<br> เขาไม่รู้อะไรเลยเกี่ยวกับตัวเอง ทั้งเรื่องในอดีต<br>
                และสิ่งที่ต้องทำต่อไปในอนาคต โดยเฉพาะ<br>ทำไมเขาถึงมีพลังที่น่าจะเป็น ‘เวทมนตร์’...</td>
             <td>210.00</td>
        </tr>
        <tr>
            <td>ค่าจัดส่ง</td>
             <td></td>
             <td></td>
             <td>50.00</td>
        </tr>
     </table>
        
     <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>EveryDay BY My team</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


         <!-- Bootstrap core JavaScript -->
    <script src="/javascripts/fd_js/jquery.min.js"></script>
    <script src="/javascripts/fd_js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/javascripts/fd_js/custom.js"></script>
    <script src="/javascripts/fd_js/owl.js"></script>
      
    </body>
</html>