.head{
    font-size: 60px;
    margin-left: 3em;
    margin-top: 1em;
}

.field1{
    border-radius: 8px;
    border: 5px solid lightskyblue;
    margin-top: 1em;
    margin-left: 10em;
    
    padding: 10px;
    width: 600px;
    height: 300px;
}

.field2{
    border-radius: 8px;
    border: 5px solid lightskyblue;
    margin-top: 1em;
    margin-left: 2em;
    
    padding: 10px;
    width: 600px;
    height: 400px;;
}

.label1{
    font-size: 30px;
}

#name{
    padding: 10px;
    border-radius: 4px;
}

#mail{
    padding: 10px;
    border-radius: 4px;

}

#pass{
    padding: 10px;
    border-radius: 4px;
}

#npass{
    padding: 10px;
    border-radius: 4px;
}

#rpass{
    padding: 10px;
    border-radius: 4px;
}

.save{
    font-size: 25px;
    margin-left: 10em;
    margin-top: 1em;

}

.save2{
    font-size: 25px;
    margin-left: 7em;
    margin-top: 1em;

}

